
html, body{
	height: 100%;
	width: 100%;
}
body {
  font-family: Impact, Charcoal, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#NGMap {
  position: relative;
  height: 100%;
  width: 100%;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #800000;
    position: relative;
}
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
	padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #b30000;
    color: 	black;
    
}

li.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    /*this is where the problem is VVV*/
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*font-size: 4;*/
    
}

.dropdown-content a {
	font-family: Impact, Charcoal, sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: 30px;
    text-align: left;
    /*font-size: 4;*/
    
}

.dropdown-content a:hover {
	background-color: #800000;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: initial;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1;
}